/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

.background {
  background: linear-gradient(to right, #92c2aa, #92c2aa);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  padding: 40px;
  background-color: rgba(111, 121, 109, 0.9);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(140, 158, 146, 0.3);
  text-align: center;
}

header {
  margin-bottom: 40px;
}

.avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.avatar img {
  width: 100%;
  height: auto;
  display: block;
}

.header-content {
  margin-bottom: 20px;
}

.header-content h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.header-content h1 span {
  color: #ffcd7e;
}

.subheading,
.location {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.subheading span,
.location span {
  color: #ffcd7e;
}

.social-links {
  margin-top: 20px;
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-3px);
}

nav {
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ddd;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section {
  flex: 1 1 100%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
}

section h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}

section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ffcd7e;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

section p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 5px;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.photo {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.photo img:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.photo:hover .overlay {
  opacity: 1;
}

.icon {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
