.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: capitalize;
}
div {
  background-color: rgb(58, 84, 55);
  text-align: center;
  align-content: center;
}
p {
  color: white;
  padding-bottom: 10px;
}
img {
  margin: 10px;
  border: 10px solid white;
  height: 600px;
  width: 600px;
}
